.container{
  font-family: 'Times New Roman', serif;
  font-size: 15px;
  margin-top: 6%;
}
table {
  font-family: 'Times New Roman', serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

