
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<div class="Cont">
  <hr>
  <div class="Container">
    <div class="container2">
    </div>
  </div>
  <hr width="1000" style="margin-left: 3%;">
  <h1>NEREYE GİDECEKSİN...</h1>

  <div class="flights" >
    <div class="AllPlane">
       <div class="row mb-5">
        <div class="col">
          <a [routerLink]="['/rezerve', 'Tokat']">
            <div class="card" style="width: 15rem;">
              <img src="/assets/CityImages/Tokat.jpg" style="filter: brightness(65%);" alt="">
              <div class="imgWhite">
                  <p>TOKAT</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col">
          <a [routerLink]="['/rezerve', 'İstanbul']"><div class="card" style="width: 15rem;">
            <img src="/assets/CityImages/İstanbul.jpg" style="filter: brightness(65%);" alt="">
            <div class="imgWhite">
                <p>İSTANBUL</p>
            </div>
          </div></a>

        </div>
        <div class="col">
          <a [routerLink]="['/rezerve', 'Ankara']"><div class="card" style="width: 15rem;">
            <img src="/assets/CityImages/Ankara.jpg" style="filter: brightness(65%);" alt="">
            <div class="imgWhite">
                <p>ANKARA</p>
            </div>
          </div></a>

        </div>
        <div class="col">
          <a [routerLink]="['/rezerve', 'Bursa']"><div class="card" style="width: 15rem;">
            <img src="/assets/CityImages/Bursa.jpg" style="filter: brightness(65%);" alt="">
            <div class="imgWhite">
                <p>BURSA</p>
            </div>
          </div></a>

        </div>
        <div class="col mt-3">
          <a [routerLink]="['/rezerve', 'Antalya']"><div class="card" style="width: 15rem;">
            <img src="/assets/CityImages/Antalya.jpg" style="filter: brightness(65%);" alt="">
            <div class="imgWhite">
                <p>ANTALYA</p>
            </div>
          </div></a>

        </div>
        <div class="col mt-3">
          <a  [routerLink]="['/rezerve', 'Ordu']"><div class="card" style="width: 15rem;">
            <img src="/assets/CityImages/Ordu.jpg" style="filter: brightness(65%);" alt="">
            <div class="imgWhite">
                <p>ORDU</p>
            </div>
          </div></a>

        </div>
        <div class="col mt-3">
          <a [routerLink]="['/rezerve', 'İzmir']"><div class="card" style="width: 15rem;">
            <img src="/assets/CityImages/İzmir.jpg" style="filter: brightness(65%);" alt="">
            <div class="imgWhite">
                <p>İZMİR</p>
            </div>
          </div></a>

        </div>
        <div class="col mt-3">
          <a [routerLink]="['/rezerve', 'Trabzon']"><div class="card" style="width: 15rem;">
            <img src="/assets/CityImages/Trabzon.jpg" style="filter: brightness(65%);" alt="">
            <div class="imgWhite">
                <p>TRABZON</p>
            </div>
          </div></a>
        </div>
       </div>
    </div>

  </div>

  <!-- <login-page *ngIf="!isLoggedIn" (loginSuccess)="loginSuccess()"></login-page> -->
</div>
