.option{
  margin-left: 45%;
}
.collapse{
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.ikon{
  font-size: 25px;
  color: rgba(0, 0, 0, 0.503);
}
.col{
  text-align: center;
}

.buton-update-delete button{
  margin-top: 10%;
}
.all{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 80%;
  margin-left: 10%;

}
.card{
  background-color: rgba(227, 227, 227, 0.202);
  padding: 3%;
  width: 70%;
  margin-left: 15%;
}
.cancel-row {
  background-color: red;
  color: white;
}

